body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}


.center-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
 h1{
  width: 100%;
  text-align: center;
   
 
 }

 .slide-enter {
  top: 0;
}
.slide-enter-active {
  top: -90px;
  transition: top 6s linear;
}
.slide-exit {
  top: -90px;
}
.slide-exit-active {
  top: 0;
  transition: top 6s linear;
}



 h3{
  width: 100%;
  text-align: center;
   
 
 }

table {
  border-collapse: collapse;  
  align-items: center;
  
}

.centered-heading {

  width: 100%;
  text-align: center;
   
  margin-left: 50%; 
 
}


td {
  padding: 10px; 
}



nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  margin-top: -5px;

  
}

section {
  padding: 20px;
}

h2 {
  border-bottom: 2px solid #282c34;
  padding-bottom: 10px;
}

.profile-picture {
  width: 150px;
  border-radius: 100%;
}

footer {
  background-color: #666e7c;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}

nav button{

  border-radius: 70%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin: 0 1rem;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .nav-mobile ul {
    display: block;
    list-style: none;
    padding: 0;
  }

  .nav-mobile ul li {
    margin: 1rem 0;
    width: 20px;
  }

  .hamburger {
    display: block;
  }
}


